name: ingenico_sdk
description: A new flutter plugin project.
version: 0.0.1
homepage:

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  ingenico_platform_interface: 0.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.example.ingenico_sdk
        pluginClass: IngenicoSdkPlugin
      ios:
        pluginClass: IngenicoSdkPlugin
